body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#map {
    width: 100%;
    max-width: 1024px; /* Max width for larger screens */
    height: 60vh; /* Relative height to ensure it fits on mobile screens */
    position: relative;
    background-color: #e0e0e0;
}

.ol-scale-bar {
    position: absolute;
    bottom: 50px;
}

#controls {
    padding: 10px;
    overflow-y: auto;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 100%; /* Ensure controls don't overflow on small screens */
}

.ol-tooltip {
    position: relative;
    background-color: white;
    border: 1px solid #333333;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    margin-bottom: 5px;
}

    .ol-tooltip::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: white transparent transparent transparent;
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #cccccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333333;
}

#northArrow {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: 50px;
    height: 50px;
}
